services:
  db:
    image: postgres:15-alpine
    container_name: db-clean-api-dev
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
    networks:
      - net

  app:
    build:
      context: .
      target: development
    volumes:
      - .:/usr/app
      - /usr/app/node_modules
    command: npm run dev
    container_name: app-clean-api-dev
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - net

networks:
  net:
    driver: bridge

volumes:
  pgdata:
